.container {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
#articleOne {
    border:2px solid green;
    margin: 5px;
}
#articleTwo {
    border:2px solid purple;
    margin: 5px;

}